table {
    border-collapse: collapse;
    background-color: lightskyblue;
}

th, td {
    border: 1px solid black;
    padding: 5px 5px;
    text-align: center;

}

th {
    font-weight: bold;
}

#halfWidth {
    width: 50%;
}